.ContactButtonLayout {
	position: absolute;
	left: 50%;
	top: 55%;
	transform: translateX(-50%);
}
.ContactButton {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-weight: bold;
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 25px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 30px;
	text-decoration: none;

	color: black;
	background-color: white;
	border-color: #ccc;
	width: 150px;
}
.ContactButton:hover {
	color: black;
	background-color: #e6e6e6;
	border-color: white;
}
