.introduction {
	width: 100%;
	height: 1000px;
	background-color: white;
	width: 800px;
	height: 180px;
	border: 1px solid #ccc;
	border-radius: 5px;
	.Leftinner {
		div {
			margin-top: 50px;
			margin-left: 30px;
		}
		p {
			margin: 0;
			font-family: 'Nanum Gothic', sans-serif;
			font-size: 25px;
		}
	}
	.Rightinner {
		div {
			margin-top: 50px;
		}
		p {
			margin: 0;
			font-family: 'Nanum Gothic', sans-serif;
			font-size: 25px;
		}
	}
}
