@import './mixin.scss';

@include pc-only {
	.MainImage {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: gray;
		background-image: url("/static/platter.jpg");
		height: 500px;
		width: 100%;
		background-repeat: no-repeat;
		p {
			color: white;
			font-weight: bold;
			font-family: 'Nanum Gothic', sans-serif;
			font-size: 80px;
			margin-top: 0;
		}
	}
}

@include tab {
	.MainImage {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: gray;
		background-image: url("/static/platter.jpg");
		height: 500px;
		width: 100%;
		background-repeat: no-repeat;
		p {
			color: white;
			font-weight: bold;
			font-family: 'Nanum Gothic', sans-serif;
			font-size: 60px;
			margin-top: 0;
		}
	}
}
